.App {
  font-family: sans-serif;
  text-align: center;
}

.panel {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.panel-title {
  background-color: #ccc;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.panel-content {
  padding: 10px;
}

.panel-title + .panel-content {
  display: none;
}

.panel-title.open + .panel-content {
  display: block;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.arrow {
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  width: 8px;
  height: 8px;
  display: inline-block;
  transform: rotate(-135deg);
  transition: transform 0.5s;
}

.panel-title.open .arrow {
  transform: rotate(45deg);
  transition: transform 0.5s;
}
